@import './base.css';

main {
  margin: 30px 8% 60px 8%;
}

@media (min-width: 800px) {
  main {
    margin: 30px 15% 60px 15%;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 30px 20% 60px 20%;
  }
}
